<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7944241570-dr7tfm7lpkfgmagg3dngt2e8ih3hitu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7944241570-dr7tfm7lpkfgmagg3dngt2e8ih3hitu5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>7944241570-j3jc5p3kc990gcnvgbuvfmgn5qdtd7r6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUH9lHUxk9XQrt_bhwcnp94-_lJBitQVk</string>
	<key>GCM_SENDER_ID</key>
	<string>7944241570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.translatorTesting</string>
	<key>PROJECT_ID</key>
	<string>translatordb-318af</string>
	<key>STORAGE_BUCKET</key>
	<string>translatordb-318af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7944241570:ios:316021b13bb32185cab2fb</string>
</dict>
</plist>